      /* * {
        box-sizing: border-box;
      }
      .headsButton {
        border: 2px solid black;
        height: 50px;
        width: 10%;
      }
      .tailsButton {
        border: 2px solid blue;
        height: 50px;
        width: 10%;
      }
      img {
        width: 15%;
        height: 100px;
      } */
