* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0px;
  color: white;
  background: black;
}

h1 {
  font-size: 4.2rem;
  display: flex;
  justify-content: center;
  margin-top: 4.2rem;
}

h2 {
  display: flex;
  justify-content: center; 
  font-size: 2.5rem;
}

h3 {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  margin-top: 5rem;
}

img {
  width: 15rem;
  height: 15rem;
  display: block;
  margin-top: 3rem;
}

#buttonSec {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#score {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10rem;
  font-size: 3rem;
}

#flippedResult {
  display: flex;
  justify-content: center;
  font-size: 3rem;
}

button {
  padding: 10px 19px;
  font-size: 2rem;
}