section {
  border-radius: 50%;
  height:70px;
  width:70px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  border:1px solid black;
  background-color: #f0f0f0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
