* {
  box-sizing: border-box;
}

body {
  margin: 2% 2%;
  height: 500px;

}

img {
  height: 375px;
  width: 50%;
  border-radius: 50%;
}

h1 {

  margin: 0 0;
  font-size: 8rem;
  font-weight: 200;
  text-transform: uppercase;

}

section {
  width: 50%;
  float: left;
}
