<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">

		<title>Blank Template</title>

		<!-- external CSS link -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<h1>Coin Flip Game</h1>
		<section class="container">
			<div class="stats">
				<p class="heads-count">Heads:</p>
				<p class="tails-count">Tails:</p>
			</div>
			<input id="userName" type="text" name="" placeholder="Enter Name">
			<h2 id="personName"></h2>
			<div class="coin" id='coin'>
				<div class="tails">
					
                    <i class="fas fa-user-circle"></i>
				</div>
				<div class="heads">
					
                    <i class="fas fa-dragon"></i>
				</div>
			</div>
			<div class='buttons'>
				<button id='flip-button' type="button" name="button">
					Flip Coin
				</button>
				<button id='reset-button'>
					Reset
				</button>
			</div>
		</section>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
