body{
    font-family: 'Play', sans-serif;
    background-color: #6aaab9;
    color: #fbc96c;
    -webkit-text-stroke: .5px #2B3537 ;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1{
    font-size: 65px;
}

.coin{
    width: 20%;
}

p{
    font-size: 24px;
}

#head, #tails{
    width: 80px;
    height: 35px;
    font-size: 16px;
    background-color: #fede98;
    border: 2px solid #f3b65d;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: "Play";
    cursor: pointer;
}

#head:hover, #tails:hover{
    background-color: #f3b65d;
}

#head{
    margin-right: 50px;
}