h1{
  color: brown;
  font-family: arial;
  text-align: center;
  font-size: 40px
}
body{
  background-color: beige;
}
button{
  width: 300px;
  border-radius: 25px;
  font-size: 50px
}
.buttonHolder{
  text-align: center;
}

.coin{
  text-align: center;
  font-family: arial;
  font-size: 25px;
  font-weight: bold;
  color: blue;

}
