/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
  display:flex;
  flex-direction: column;
}
h1, h2, form, button, div, h3{
  align-self: center;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
