*{
  margin: 0;

}


body{
  /* color from mdn */
  background-color: rgba(255, 255, 128, .5);
}


img{
  width: 10%;
  background-blend-mode: multiply;
  background-color: blue;
  margin-left: 44%;
  margin-top: 10%;

}
.head > button{
  width: 20%;
  background-color: RGB(165, 255, 255);
  margin-left: 39%;
  margin-top: 9%;

  display: block;
}

#results{
  font-size: 3rem;
  margin-left: 44%;
  border: 1px red solid;
  background-color: lightpink;
  border-radius: 25px;
  color: white;
}
