body{
    background: url(..//headorTails.png);
    background-position: center;
    width:100%;
    margin:0%;
    height: 800px;
}
h1{
    text-align:center;
    margin-top: 7%;
}

.coins{
    margin-left: 46%;
}
button{
    background: white;
}